body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCxjIrXWzsezbrRjvoAh_pWIGMIYl2WozeyA&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}
.text-center{
    color:rgb(137, 240, 240);
    font-family: 'Times New Roman', Times, serif;
}